/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero Section */
.hero {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 30px 20px;
    position: relative;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.hero p {
    font-size: 1.0rem;
    margin-bottom: 20px;
}

#about {
    margin-top: -20px;
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0097a7;
}

/* Navigation Bar */
.nav-menu {
    background-color: #5e5b5b; /* Dark background */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav_menu_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_menu_list li {
    margin: 0 20px;
}

.nav_menu_list a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px;
    transition: color 0.3s;
}

.nav_menu_list a:hover {
    color: #00bcd4; /* Highlight color */
}

/* Main Content */
main {
    margin-top: 100px; /* To ensure content doesn’t overlap with the fixed nav */
    padding: 20px;
    text-align: center;
}

section {
    margin: 50px 0;
    padding: 20px;
}

section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

section p {
    font-size: 1.1rem;
    color: #555;
}

#cv-download {
    text-align: center;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    max-width: 600px;
}

#cv-download h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 1em;
}

#cv-download p {
    font-size: 1em;
    color: #555;
    margin-bottom: 1.5em;
}

.cv-button {
    display: inline-block;
    padding: 0.8em 1.5em;
    font-size: 1em;
    color: #fff;
    background-color: #0073e6;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cv-button:hover {
    background-color: #005bb5;
}

#portfolio, #projects {
    margin-bottom: 40px;
}
iframe {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    margin-top: 20px;
}
